.pageCache {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pageWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--ant-color-bg-container);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
