@use '@/styles/variables' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: $spacing-md;
  height: 48px;
  cursor: pointer;
  color: #fff;
  font-size: $font-size-lg;
  border-top: 1px solid #fff;
  background: $bg-color-dark;
  transition: all $animation-duration-slow;
}

.logoHeader {
  height: 48px;
  gap: 12px;

  .logoImage {
    height: 32px !important;
    width: 32px;
    display: block;
  }

  .logoText {
    margin: 0;
    color: #fff !important;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    white-space: nowrap;
    opacity: 1;
  }
}

// 占位与内容区域
.spacer {
  height: 48px;
  width: 100%;
  flex-shrink: 0;
}

.layoutContent {
  padding: $spacing-md $spacing-lg;
}

:global {
  .ant-pro-sider-logo {
    padding: 0 12px !important;
  }

  .ant-pro-layout .ant-drawer {
    position: fixed !important;
    inset: 0 !important;
  }
}

.fixedHeaderWrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #f0f2f5;
}

@include mobile {
  .spacer {
    display: none;
  }

  .layoutContent {
    padding: 12px;
    .pageWrapper {
      overflow-y: hidden;
    }
  }
}
