.tabsContainer {
  padding: 6px 24px 0;
  background-color: #f0f2f5;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }

    .ant-tabs-tab {
      font-size: 13px;
      padding: 6px 16px !important;
      background-color: #fff !important;
      border: 0 !important;
      border-radius: 8px 8px 0 0 !important;
      margin-right: 4px !important;
      transition: all 0.3s;

      &:hover {
        color: #1890ff;
      }

      &.ant-tabs-tab-active {
        background-color: #1890ff !important;
        color: #fff !important;
        font-weight: 500;

        .ant-tabs-tab-remove,
        .ant-tabs-tab-btn {
          color: #fff !important;
        }
      }
    }
  }
}
